@{
    ViewBag.Title = "About";
}
<h2>Acerca de los programadores</h2>

<hr>
<img src="~/Imagenes/WhatsApp Image 2019-11-14 at 11.54.09 PM.jpeg" width="250" height="250" />

<h4>Juan Ramon Fernandez</h4>
<h5>Nacido: 10 de agosto del 1999 en peralta Azua</h5>
<h5>Edad:20</h5>
<h5>Estudiante del ITLA en desarrollo de software</h5>
<h5> Matricula: 2017-5450</h5>
<h5> Estatura: 5'8</h5>
<h5> Deportes favoritos: <a href="https://es.wikipedia.org/wiki/B%C3%A9isbol">Beisbol</a> y <a href="https://es.wikipedia.org/wiki/Baloncesto">Baloncesto</a> </h5>
<h5> Deportistas favoritos: <a href="https://es.wikipedia.org/wiki/Giannis_Antetokounmpo">Giannis Antetokumpo</a></h5>
<h5> Participacion el proyecto: Vincular la aplicación con Facebook, Agenda electronica Modulo 2, Acerca de </h5>

<hr>
<img src="~/Imagenes/WhatsApp Image 2019-11-14 at 11.55.37 PM.jpeg" width="250" height="250" />
<div>
    <h4> Ivan Rosa Suriel</h4>
    <h5>Nacido: 17 de julio del 2000 en Constanza la vega</h5>
    <h5> Edad:19</h5>
    <h5> Estudiante del ITLA en desarrollo de software</h5>
    <h5> Matricula: 2017-5451</h5>
    <h5>Estatura: 6'0</h5>
    <h5> Deportes favoritos: <a href="https://es.wikipedia.org/wiki/Baloncesto">Baloncesto</a></h5>
    <h5> Deportistas favoritos: <a href="https://www.google.com/search?ei=LAjTXaeIMYew_QbJo66QCA&q=lebron+james&oq=LebR&gs_l=psy-ab.1.0.0i131i67j0i67j0i131i67j0i67l4j0i131i67j0i67l2.1173.2172..3221...0.0..0.216.619.0j3j1......0....1..gws-wiz.......0i131j0j0i10i67._uReUrn9Alk">LeBron James</a></h5>
    <h5> Participacion el proyecto: Consulta de asignatura del curso, Agenda electronica Modulo 1, Lector de archivos </h5>
</div>
